

.main{
    margin-left: 3vw;
    width: 40vw;
    /* height: 12vh; */
}

.chartName{
    color: white;
    font-size: 20px;
}

@media (max-width: 599px) {

    .chart{
        height: 50vh;
        width: 75vw;
    }
    .main{
        width: 80vw;
        height: 30vh;
        margin-left: 5vw;
    }
}

@media (max-width: 400px) {
    .chart{
        height: 80vh;   
    }
}